div(ng-controller="InventoryCtrl")
  input(ng-click="saveInventory()", type="button", value="save")
  br
  table
    thead
      th Owner
      th Serial Number
      th Type
      th Description
      th Length
      th ID
      th OD
      th Top Connection
      th Bottom Connection
    tbody
      tr(ng-repeat="item in inventory")
        td.data
          input(ng-model="item.owner")
        td.data
          input(ng-model="item.serial")
        td.data
          input(ng-model="item.type")
        td.data
          input(ng-model="item.description")
        td.data
          input(ng-model="item.len")
        td.data
          input(ng-model="item.ID")
        td.data
          input(ng-model="item.OD")
        td.data
          input(ng-model="item.topConn")
        td.data
          input(ng-model="item.botConn")
        td.data button
      tr
        td.data
          input(ng-model="newItem.owner", placeholder="new")
        td.data
          input(ng-model="newItem.serial", placeholder="tool")
        td.data
          input(ng-model="newItem.type", placeholder="info")
        td.data
          input(ng-model="newItem.description", placeholder="here")
        td.data
          input(ng-model="newItem.len", placeholder="...")
        td.data
          input(ng-model="newItem.ID")
        td.data
          input(ng-model="newItem.OD")
        td.data
          input(ng-model="newItem.topConn")
        td.data
          input(ng-model="newItem.botConn")
        td.data
          button(ng-click="addItem()") save