div(ng-controller="JobCtrl")
  form
    select(accesskey="q", ng-change="goto(jobID)", ng-model="jobID")
      option(ng-repeat="j in jobs", ng-selected="branch==j.ID", value="{{j.ID}}"){{j.name}}
  br
  br
  form(ng-submit="saveJob()", ng-show="branch.length")
    label
      |Job Name
      br
      input(placeholder="enter job name", ng-model="job.name", type="text", value="{{job.name}}")
    br
    label
      |Customer
      br
      input(placeholder="enter customer name", ng-model="job.customer", type="text", value="{{job.customer}}")
    br
    label
      |Well Name
      br
      input(placeholder="Well Name", ng-model="job.well", type="text", value="{{job.well}}")
    br
    button(type="submit") save