!!!
html(ng-app="app")
	head
		meta(charset='utf8')
		base(href='/')
		title Interlude
		link(rel="shortcut icon", href="favicon.ico")

		cf_style
			cfinclude(template='lib/jquery/css/jquery-ui.css')
			cfinclude(template='lib/bootstrap/css/bootstrap.css')
			cfinclude(template='lib/bootstrap/css/bootstrap-responsive.css')
			cfinclude(template='lib/main.css')

		cf_script
			cfinclude(template='lib/jquery/js/jquery.js')
			cfinclude(template='lib/jquery/js/jquery-ui.js')
			cfinclude(template='lib/bootstrap/js/bootstrap.js')
			cfinclude(template='lib/angular/angular.js')
			cfinclude(template='lib/angular/angular-bootstrap.js')
			cfinclude(template='lib/angular/angular-ui.js')
			cfinclude(template='js/services.js')
			cfinclude(template='js/filters.js')
			cfinclude(template='js/directives.js')
			cfinclude(template='js/controllers.js')
			cfinclude(template='js/application.js')

	body
		block body
