!!!
html
  head
    title Jasmine Spec Runner

    link(rel="stylesheet", type="text/css", href="lib/jasmine/jasmine.css")

    script(type="text/javascript", src="lib/jasmine/jasmine.js")
    script(type="text/javascript", src="lib/jasmine/jasmine-html.js")

    script(type="text/javascript", src="js/controllers.js")

    script(type="text/javascript", src="js/spec/appCtrlSpec.js")

    script(type="text/javascript", src="js/specRunner.js")

  body